<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Reservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body style="background-color: #f3f4f6; font-family: sans-serif;">
    <%# Render the navigation bar partial %>
    <%= render 'layouts/navigation' %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>